.container-card{
    display: flex;
    flex-direction: column;
    align-items:center;

    border: 3px solid black;
    border-radius: 5px;

    width: 150px;
    margin: 9px;
    padding: 6px 0;
    cursor: pointer;

    background-color: #F2F2F2;
}

.imagen-card {
    height: 150px;
    width: 150px;
    margin: -5px;
}

.link-card {
    text-decoration: none;
    background-color: olivedrab;
    text-align: center;
    padding: 3px 0;
    width: 100%;
    color: white;
    text-shadow: 2px 1px 1px black;
}

.row-p {
    display: flex;
    gap: 10px
}


p {
    margin: 0;
    font-family: monospace;
}

.grass {
    background-color: #32CD32;
    padding: 5px;
    border-radius: 10px;
    color: white;

}

.fire {
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.water {
    background-color: blue;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.bug {
    background-color: #6B8E23;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.flying {
    background-color: #87CEFA;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.normal {
    background-color: 	#C0C0C0;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.poison {
    background-color: #4B0082;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.electric {
    background-color: #FFD700;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.ground {
    background-color:#8B4513;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.fairy {
    background-color:#EE82EE;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.fighting {
    background-color:#FF8C00;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.psychic {
    background-color: #FF1493;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.rock {
    background-color: #BDB76B;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.steel {
    background-color: #5F9EA0;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.ice {
    background-color: #00BFFF;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.ghost {
    background-color:	#8B008B;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.dragon {
    background-color: #00008B;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.dark {
    background-color: 	#4F3F3D;
    padding: 5px;
    border-radius: 10px;
    color: white;
}