.container-searchBar{
    margin: 0 0 20px 0;
    flex-direction: column;
    display: flex;
}


.input {
    width: 250px;
    padding: 5px;
    height: 30px;

    border-radius: 8px;
    border: solid #63005C 2px;
}

.btn {
    color: #63005C ;
    background-color: #F2F2F2;
    border: solid #63005C 2px;
    border-radius: 8px;

    z-index: 1;
    overflow: hidden;
    position: relative;
    display: inline-block;

    padding: 5px;
    height: auto;

    cursor: pointer;
    font-family: monospace;
}

.btn:hover {
    background-color: #F2F2F2;
    color: #F2F2F2;
}

.btn::after {
    content: "";
    background-color: #63005C;
    position: absolute;
    z-index: -1;
    padding: 5px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}


.btn:active {
    transform: translateY(2px); 
}

.search { 
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.container-btn {
    display: flex;
    justify-content: space-around;

    width: 400px;


}

.label-search {
    font-family: monospace;
    font-size: larger;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin-right: 10px;
}
