.container-home{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('./170625035442602673.png'), linear-gradient(to bottom, #E6E6FA, #9370DB);
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom;
    height: 100%;
}
