.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url("./land.jpeg");
    background-size: cover;
    
    min-height: 100vh;
    min-width: 100vh;
}
  
.titulo {
    font-family: monospace;
    text-shadow: 2px 1px 1px black;
    color: gold;
    background-color: white;
    padding: 4px 8px;
    border: 3px solid gold;
    border-radius: 20px;
}

.link{
    justify-content: center;
    font-family: monospace;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: transparent;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-image: url("../../assets/pokeballCerrada.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
    transition: .5s transform 0.1s;
}

.link:hover {
    background-image: url("../../assets/pokeballAbierta.png");
    background-position: center;
    background-size: cover;
    z-index: 1;
    color: white;
    justify-content: center;
    font-family: monospace;
}

.link:active{
    transform: translateY(2px); 
}


@media (max-width: 700px) {
    .fondo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url("./width 768px.webp"); /* Fondo para pantallas más pequeñas */
        /* background-size: cover; */
    
        /* min-height: 100vh;
        min-width: 100vh; */
    }

    .titulo {
        font-family: monospace;
        text-shadow: 2px 1px 1px black;
        color: gold;
    }

    .link{
        justify-content: center;
        font-family: monospace;
        text-decoration: none;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        color: transparent;
        width: 120px;
        height: 120px;
        margin-top: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        background-image: url("../../assets/pokeballCerrada.png");
        background-position: center;
        background-size: cover;
        z-index: 1;
        transition: .5s;
    }
    
    .link:hover {
        background-image: url("../../assets/pokeballAbierta.png");
        background-position: center;
        background-size: cover;
        z-index: 1;
        color: white;
        justify-content: center;
        font-family: monospace;
    }
}