.container-form {
    background-image: url("../../assets/fondoCreate.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 100vh;
    width: 100%;
}

.link-Create {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    
    font-family: 'Pokemon Fire Red', monospace;
    text-shadow: -2px 2px 1px GhostWhite;
}

.H {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    background: linear-gradient(to bottom right, #79B5E3, #FEDD1A);
    width: 500px;
    padding: 4px;
    border-radius: 8px;
    box-shadow: -7px 7px 3px black;
}

.navlinkCreate {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    /* text-shadow: 1px 1px 0px #F2F2F2; */
    font-family: monospace;
    color: black;

    background-color: #FFF836;
    border: 6px outset gray;
    padding: 12px;
    width: 40px;

    top: 15px;
    left: 15px;
}

.formCreate {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(to bottom ,#FFF8DC,#FFEBCD,#FFE4C4,#FFDEAD,#F5DEB3,#DEB887,#D2B48C,#F4A460,#CD853F,#D2691E,#8B4513,#A0522D);

    padding: 30px 0px 30px 0px;
    margin-top: 40px;
    margin-left: 215px;
    height: 700px;
    width: 40%;
    
    border: 8px ridge black;
    border-radius: 15px;
}

.casillas {
    background-color: gray;
    background: rgb(134, 185, 57);
    border-radius: 0 3px 3px 0;
    border: 3px ridge black;
    text-shadow: 1px 1px 1px black;
    font-family: monospace;
    color: white;

    padding: 5px;

    display: flex;

    align-items: center;
}

.unidadMedida {
    margin-left: 5px;
}
